@media (max-width: 768px) {
    footer {
        background: lightgrey;
        position: relative;
        bottom: 0px;
        font-size: 80%;
    }
    .footer > .copyright {
        width: 101%;
        height: 40px;
        background: rgba(0,0,0,0.8);
        color: white;
        padding: 10px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        text-align: center;
        font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer-body {
        margin-bottom: 10px;
        padding: 30px;
        text-align: center;
    }
    .footer-body > div:first-child {
        font-size: 150%;
        font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer-img {
        background: white;
        width: 100%;
        height: 70px;
    }
    .footer-img  img {
        width: 30px; 
        height: 30px; 
    }
    marquee {
        margin-top: 15%;
        font-size: 17px;
        color: maroon;
        font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
@media (min-width: 769px) {
    marquee {
        font-size: 20px;
        color: maroon;
        padding: 10px;
        background: beige;
        margin-top: 10%;
        font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    footer {
        background: lightgrey;
        position: relative;
        bottom: 0px;
        font-size: 100%;
    }
    .footer > .copyright {
        width: 100%;
        height: 40px;
        background: rgba(0,0,0,0.8);
        color: white;
        padding: 10px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        text-align: center;
        font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer-body {
        margin-bottom: 10px;
        padding: 30px;
        text-align: center;
        font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer-body > div:first-child {
        font-size: 180%;
        font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .footer-img {
        background: white;
        width: 100%;
        height: 70px;
    }
    .footer-img  img {
        width: 30px; 
        height: 30px; 
    }
}

footer {
    background-color: var(--bgC);
    background-image: var(--bgI);
    background-attachment: var(--bgA);
    background-size: var(--bgS);
}

.footer-body {
    color: var(--c1);
}
.footer-body > div:first-child {
    color: #ffffff;
}
.footer-body .footer-img p {
    color: #000052;
    font-family: 'Open_Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}